/********************************************************************************
                            FEATURED ARTICLES STYLES
****************************************************************************************/ 

.categories{
    margin-bottom: 5rem;

    // @media only screen and (min-width: 640px){
    //         padding: 0 3rem;
    // }

    .category-thumbnails{
        @media only screen and (min-width: 650px){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .category{
            @media only screen and (min-width: 650px){
                width: 48%;
            }

            @media only screen and (min-width: 800px){
                width: 32%;
                
            }

            .category-content{
                padding: 1rem;
                background-color: rgb(236, 224, 214);
                border: 2px solid rgb(127, 109, 98);
                margin-bottom: 3rem;

                ul{
                    padding: 0.5em;
                    border: 2px solid rgb(141, 205, 209);
                    background-color: rgb(190, 235, 238);
    
                    li{
                        text-decoration: none;
                        padding: 1.2rem;
                        
    
                        a{
                            font-size: 1.6rem;
                            color: black;
                            text-decoration: none;
                            border-bottom: 1px solid rgb(127, 109, 98);
                            padding: 0.5rem;
                        }
    
                        a:hover{
                            border: 1px solid rgb(127, 109, 98);
                        }
                        
                    }
    
                }

            }


            h3 {
                font-size: 4rem;
                padding: 0.5rem 0;
                font-family: 'Kalam', cursive;
            }
    
       }
    }

      

  }



  /********************************************************************************
                            SINGLE ARTICLES STYLES
****************************************************************************************/ 