footer {
    background-color: rgb(236, 224, 214);
    border-top: 2px solid rgb(127, 109, 98);
}

.footer-content {
    width: 10rem;
    margin: 0 auto;
    padding: 1rem;

    p, a{
        font-family: 'Raleway', sans-serif;
    }

        @media only screen and (min-width: 400px) {
            display: flex;
            justify-content: space-between;
            padding: 4rem;
            margin: 0 auto;
            width: 40rem;
        }

        @media only screen and (min-width: 600px) {
            width: 60rem;
        }
        
        .footer-links    {
            margin-bottom: 3rem;
            @media only screen and (min-width: 600px) {
                width: 10rem;
            }

            h4 {
                font-size: 2rem;
                font-family: 'Kalam', cursive;
                border-bottom: 2px solid rgb(141, 205, 209);
                margin-bottom: 1rem;
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 1.2rem;
                display: block;
            }
    }

}

.copy-write {
    border-top: 1px solid rgb(127, 109, 98);
    margin: 1rem 1rem 0 1rem;
    padding-bottom: 4rem;
    padding: 1rem;
    max-width: 70rem;
    margin: 0 auto;

    @media only screen and (min-width: 600px) {
        display: flex;
        
    }

    
    p {
        color: rgb(127, 109, 98);
        font-size: 1rem;
        max-width: 50rem;
        font-family: 'Raleway', sans-serif;
    }

    h4 {
        font-size: 1.6rem;
        color: rgb(127, 109, 98);
        margin-bottom: 1rem;
        font-family: 'Raleway', sans-serif;

        @media only screen and (min-width: 600px) {
            margin-right: 1rem;
            
        }
    }


}